* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
    font-family: 'Ubuntu';
}

.box {
    padding: 80px 140px;
    border-radius: 15px;
    background-color: #222;
    box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
}

.link {
    position: relative;
    font-size: 36px;
    padding: 10px 20px;
    color: rgb(0, 140, 255);
    text-decoration: none;
}

.link,
.link:after,
.link:before {
    transition: 0.4s;
}


/*pierwszy link*/

.one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.4s;
    transform-origin: right;
}

.one:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/* drugi link */

.two::before,
.two::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.two::before {
    top: -2px;
    left: -8px;
    border-top: 0px solid #fff;
    border-left: 0px solid #fff;
    opacity: 0;
}

.two::after {
    bottom: -2px;
    right: -8px;
    border-bottom: 0px solid #fff;
    border-right: 0px solid #fff;
    opacity: 0;
}

.two:hover::before,
.two:hover::after {
    width: 35px;
    height: 35px;
    opacity: 1;
}

.two:hover::before {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.two:hover::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}


/*trzeci link*/

.three::before,
.three::after {
    content: '';
    position: absolute;
    width: 5px;
    bottom: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}

.three::before {
    right: 50%;
    opacity: 0;
}

.three::after {
    left: 50%;
    opacity: 0;
}

.three:hover::before,
.three:hover::after {
    width: 50%;
    opacity: 1;
}